apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: {{ .Values.name }}
    environment: {{ .Values.environment }}
  name: {{ .Values.name }}-configmap-{{ .Values.environment }}
  namespace: {{ .Values.namespace }}-{{ .Values.environment }}
data:
  MAX_FILE_SIZE: '100M'
