apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ .Values.name }}
    environment: {{ .Values.environment }}
  name: {{ .Values.name }}-{{ .Values.environment }}
  namespace: {{ .Values.namespace }}-{{ .Values.environment }}
spec:
  type: {{ .Values.service.type }}
  selector:
    {{- include "clamav-rest.selectorLabels" . | nindent 4 }}
  ports:
    - name: http
      port: 9000
      targetPort: 9000
      protocol: TCP
    - name: https
      port: 9443
      targetPort: 9443
      protocol: TCP

