name: Build, Push Container image to DockerHub

# on:
#   # workflow_dispatch:
#   # schedule:
#   #   - cron: '0 0 * * 6' # At 12:00 AM, only on Saturday
on:
  push:
    branches:
      - "main"
env:
  REGISTRY_IMAGE: "${{ var.DOCKER_USER }}/clamav-rest"
  REGISTRY_USER: ${{ secrets.DOCKER_USER }}
  REGISTRY_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        platform:
          - linux/amd64
          - linux/arm/v6
          - linux/arm/v7
          - linux/arm64

    outputs:
      image_digest: ${{ steps.container_metadata.outputs.digest }}
      image_tags: ${{ steps.meta_dev.outputs.tags }}

    steps:
      - name: Prepare
        run: |
          platform=${{ matrix.platform }}
          echo "PLATFORM_PAIR=${platform//\//-}" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ env.REGISTRY_USER }}
          password: ${{ env.REGISTRY_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta_dev
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY_IMAGE }}
          tags: |
            type=raw,value={{date 'YYYYMMDD'}}
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Build and push to DockerHub
        id: container_metadata
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: ${{ matrix.platform }}
          push: true
          tags: ${{ steps.meta_dev.outputs.tags }}
          labels: ${{ steps.meta_dev.outputs.labels }}
          outputs: type=image,name=${{ env.REGISTRY_IMAGE }},push-by-digest=true,name-canonical=true,push=true

      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y%m%d')"

      - name: Add version tag
        id: tag_version
        uses: laputansoft/github-tag-action@v4.6
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ steps.date.outputs.date }}

      - name: Create a GitHub release
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.date.outputs.date }}
          name: Release ${{ steps.date.outputs.date }}
          body: ${{ steps.tag_version.outputs.changelog }}
